/* Blog Page*/


h4 {
    font-size: 15px;
    font-style: italic;
}

.suite {
	background-color: #0858D3;
	color : white;
	/*margin-left : 150px;*/
	padding: 10px;
	border-radius : 10px;
}

.center {
    text-align: center;
}

.ligne {
    border-top: 2px solid black;
    padding-top: 20px;
}
